@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: "Poppins", sans-serif; */
  overflow-x: hidden;
}

/* UTILITY */
.my-1 {
  margin: 10px 0;
}

.my-2 {
  margin: 15px 0;
}

.my-3 {
  margin: 20px 0;
}

.my-4 {
  margin: 25px 0;
}

.my-3 {
  margin: 30px 0;
}

.my-4 {
  margin: 70px 0;
}

.mx-1 {
  margin: 0 10px;
}

.mx-2 {
  margin: 0 15px;
}

.mx-2 {
  margin: 0 25px;
}

.py-1 {
  padding: 5px 0;
}

.py-2 {
  padding: 10px 0;
}

.py-3 {
  padding: 15px 0;
}

.py-4 {
  padding: 20px 0;
}

.py-5 {
  padding: 25px 0;
}

.px-3 {
  padding: 0 5px;
}

.px-4 {
  padding: 0 15px;
}

.px-5 {
  padding: 0 25px;
}

.md {
  font-size: 1rem;
}

.xl {
  font-size: 1.1rem;
}

/* BTN */
.btn {
  background-color: #2563eb;
  color: white;
  padding: 20px 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: inherit;
  font-weight: bolder;
  font-size: 20px;
}

/* CONTAINER */

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0px;
}

main {
  margin: 100px 0;
}

.bg-img {
  background-image: url(img/320335980_1835209066824462_1619248660321727093_n.webp.jpg);
  filter: grayscale(100%);
  padding: 200px 0;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.title-name {
  position: absolute;
  bottom: 0;
  bottom: 40px;
  right: 10px;
  color: #f7f1f1;
  font-weight: 900;
  font-family: inherit;
}

/* BODY */

body {
  /* height: 1000px; */
  color: white;
  background-color: black;

  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

p {
  padding: 18px 0;
  line-height: 1.9;
  font-size: 20px;
}

/* Other Classes */
.hello-first-el {
  color: #444;
  font-size: 40px;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  padding: 100px 0;
}

/* ICONS */
.icon {
  width: 100px;
  height: 100px;
  color: blue;
}
