@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Young Serif", serif;
  overflow-x: hidden;
}

:root {
  --bgc-color: #000;
  --primary-text: white;
}

.light-mode {
  --bgc-color: white;
  --primary-text: black;
}

/*  */

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0px;
}

p {
  color: #585757;
}

.nav-bar {
  padding-bottom: 40px;
}

.nav-bar__wrapper {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 25px;
}

.nav-bar__item {
  cursor: pointer;
  /* padding-bottom: 40px; */
}

.nav-bar__link {
  color: black;
  transition: all 0.3s ease-in;
}

.nav-bar__link:hover {
  color: #585757;
}

.main-content {
  margin: 50px 0;
}

.main-content__intro,
.main-content__name {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.intro {
  /* padding: 30px 0; */
  display: flex;
  align-items: center;
  gap: 0;
  padding: 30px 40px;
  font-weight: bold;
}

.horizontal-dash {
  font-size: 20px;
}

.intro__text {
  font-size: 20px;
}

.main-content__text {
  color: #444;
  padding: 20px 0;
}

.main-content__sub-text {
  font-weight: bold;
  color: black;
  padding: 10px 0;
}

.main-content__tech {
  margin: 30px 10px;
}

.main-content__tech-list li {
  list-style: circle;
  /* padding: 20px; */
}

.sub-heading-expect {
  font-size: 30px;
}

.main__card-general {
  background-color: rgb(138, 216, 192);
  opacity: 0.758526;
  /* transform: scale(0.879263) translateZ(0px); */
  padding: 30px 30px 150px 30px;
  border-radius: 30px;
  /* width: 100%; */
  font-weight: bold;
  font-size: 30px;
  margin: 30px 0;
}

.bg-color-card-second {
  background-color: rgb(243, 154, 142);
}

.bg-color-card-third {
  background-color: rgb(178, 149, 206);
}

.bg-color-card-fourth {
  background-color: rgb(156, 183, 235);
}

.footer-text {
  width: 100%;
}

.footer-wrapper {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.hidden {
  visibility: hidden;
  width: 0;
}

/* RESPONSIVENESS- DESKROP */
@media screen and (min-width: 1200px) {
  .container {
    width: 70%;
  }

  .footer-wrapper {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    visibility: visible;
  }

  .hidden {
    visibility: visible;
    width: 100%;
  }

  .main-card-wrapper {
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 50px;
    /* display: flex;
    flex-wrap: wrap; */
  }

  .bg-color-card-second {
  }
}
